{% extends "base.html" %} {% block content %}
<button type="button" class="btn btn-primary">
  <a href="{% url 'vistas:categorias' %}" class="text-white">Categorias</a>
</button>
<button type="button" class="btn btn-success">
  <a href="{% url 'vistas:productos' %}" class="text-white">Productos</a>
</button>

<h3 class="mt-3">Listado de {{ title | upper }}</h3>
{% if items %}
<ul>
  {% for item in items %}
  <li>{{item.id}} - {{item.name}}</li>
  {% endfor %}
</ul>
{% else %}
<h4>No existen datos</h4>
{% endif %} {% endblock content %}
